<!DOCTYPE html>
<html>
<head>
    <title>Bellanger's Bank</title>
</head>
<body>
    <h1>💰 Bellanger's Bank 💰</h1>
    <h3>Select a class:</h3>
    <ul>
        {% for class_name, class_data in classes.items() %}
            <li><a href="{{ url_for('class_select', class_name=class_name) }}">{{ class_name.replace('_',' ').title() }}</a> - <a href="{{ url_for('add_students', class_name=class_name) }}">Add Students: Admin</a></li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_class') }}">Add Class: Admin</a>
</body>
</html>
